.todoForm{
    width: 300px;
    height: 20px;
    border:0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: beige;
}
.namePosition{
    width: 150px;
    height: 20px;
    border:0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: beige;
}
.editForm{
    width: 160px;
    height: 20px;
    border:0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: beige;
}
.URLAdder{
    position:absolute;
    top:15%;
    left:12%;
}

.URLForm{
    width: 100px;
    height: 20px;
    border:0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: beige;
}