.hidden{
    display: none;
}

.container{
    max-width: 100%;
    height: auto;
    display: block;
}
body{
    background-image: url('img/4.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}

.quoteStyle{
    position: absolute;
    width:396px;
    bottom: 10%;
    left: 42%;
    text-align: center;
}

.clockDiv{
        position: absolute;
        left: 44.5%;
        top:0.5%
}
.greetingPosition{
    position: absolute;
    top:44%;
    left: 45%;
}
.namePosition{
    position: absolute;
    top:44%;
    left: 45%;
}
.loginPosition{
    position: absolute;
    top: 47%;
    left:47%;
}
.blinkPosition{
    position:absolute;
    top:44%;
    left: 45.5%;

}