
.hidden{
    display: none;
}

.container{
    max-width: 100%;
    height: auto;
    display: block;
}
body{
    background-image: url('img/4.jpg');
    background-repeat : no-repeat;
    background-size : cover;
}

.quoteStyle{
    position: absolute;
    width:396px;
    bottom: 10%;
    left: 42%;
    text-align: center;
}

.clockDiv{
        position: absolute;
        left: 44.5%;
        top:0.5%
}
.greetingPosition{
    position: absolute;
    top: 10%;
    left:47%;
    border-right: 2px solid black;
}
.nameFormPosition{
    position: absolute;
    top:44%;
    left: 45%;
}
.loginPosition{
    position: absolute;
    left: 48%;
}
.blinkPosition{
    position:absolute;
    top:44%;
    left:45.5%;
}
.todoPosition{
    position: absolute;
    top: 5%;
    right: 5%;
}
.sideBar{
    position: absolute;
    top: 5%;
    left: 0%;
    transition: all 0.5s ease;
}
.sideBarBox{
    background-color: blue;
    width: 200px;
    height: 100px;
    padding: 1rem;
    border-radius: 10px;
}